.nav {
	width: 100%;
	min-height: 364px;
}
.maskMenuTop {
	position: absolute;
	width: 100%;
	height: 15%;
	top: 3%;
	background: #fff;
	z-index: 1;
	-webkit-animation: maskMenu 333ms ease-out 750ms forwards;
	animation: maskMenu 333ms ease-out 750ms forwards;
}
.maskMenu {
	position: absolute;
	width: 100%;
	height: 45%;
	top: 34%;
	background: #fff;
	z-index: 1;
	-webkit-animation: maskMenu 333ms ease-out 750ms forwards;
	animation: maskMenu 333ms ease-out 750ms forwards;
}
.maskActiveLink {
	position: absolute;
	width: 100%;
	height: 15%;
	background: #fff;
	z-index: 1;
	top: 18%;
	-webkit-animation: maskActiveLink 333ms ease-out 250ms forwards;
	animation: maskActiveLink 333ms ease-out 250ms forwards;
}
.maskActiveLink_a {
	position: absolute;
	width: 100%;
	top: 10%;
	left: 1%;
	height: 85%;
	background: #fff;
	z-index: 1;
	-webkit-animation: maskActiveLink_a 333ms ease-out 500ms forwards;
	animation: maskActiveLink_a 333ms ease-out 500ms forwards;
}

.left {
	min-width: 320px;
	width: 25%;
}
.left h3 {
	height: 10%;
	padding: 44px 22px 22px 22px;
	border-bottom: 4px solid #5AECFF;
	border-left: 22px solid #5AECFF;
	color: #000;
	left: -100%;
	font-weight: 300;
	font-size: 120%;
	line-height: 100%;
	position: relative;
	-webkit-animation: toRight 333ms ease-out 400ms forwards;
	animation: toRight 333ms ease-out 400ms forwards;
}
.left p {
	padding: 22px 22px 44px 22px;
	font-size: 60%;
	line-height: 140%;
	font-weight: 500;
	position: relative;
	left: -100%;
	-webkit-animation: toRight 333ms ease-out 500ms forwards;
	animation: toRight 333ms ease-out 500ms forwards;
	height: 20%;
}
.img_4 {
	width: 100%;
	min-height: 248px;
	background: url(../img/img_4.jpg) no-repeat bottom;
	background-size: 120%;
	position: relative;	
	overflow: hidden;
	-webkit-transition: 333ms ease-out;
	transition: 333ms ease-out;
}
.img_4:hover {
	background-position: top;
}
.img4Mask {
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	background: #fff;
	-webkit-animation: toTopMask 333ms ease-out 250ms forwards;
	animation: toTopMask 333ms ease-out 250ms forwards;
}

.center {
	width: 50%;
	position: relative;
	overflow: hidden;
}
.header {
	width: 100%;
	height: 50%;
	position: relative;
	overflow: hidden;
	background: #5AECFF;
}
.headerMask {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 1;
	-webkit-animation: toBottomMask 333ms ease-out 250ms forwards;
	animation: toBottomMask 333ms ease-out 250ms forwards;
}
.header h1 {
	border-bottom: 22px solid #fff;
	border-left: 66px solid #fff;
	color: #000;
	font-weight: 700;
	font-size: 220%;
	line-height: 120%;
	width: 90%;
	padding: 88px 22px 22px 22px;
	position: relative;
	left: -100%;
	-webkit-animation: toRight 333ms ease-out 400ms forwards;
	animation: toRight 333ms ease-out 400ms forwards;
}
.header h3 {
	padding: 44px 22px;
	font-weight: 300;
	position: relative;
	left: -100%;
	-webkit-animation: toRight 333ms ease-out 500ms forwards;
	animation: toRight 333ms ease-out 500ms forwards;
}
.price {
	color: #fff;
	background: #000;
	width: 100%;
	position: relative;
	height: 50%;
	overflow: hidden;
	left: -100%;
	-webkit-animation: toRight 333ms ease-out 600ms forwards;
	animation: toRight 333ms ease-out 600ms forwards;

}
.price h3 { 
	border-bottom: 22px solid #fff;
	border-left: 44px solid #fff;
	font-weight: 300;
	font-size: 200%;
	line-height: 100%;
	min-width: 320px;
	max-width: 90%;
	padding: 66px 22px 22px 22px;
	position: relative;
	left: -100%;
	-webkit-animation: toRight 333ms ease-out 700ms forwards;
	animation: toRight 333ms ease-out 700ms forwards;
}
.price p {
	padding: 22px;
	font-weight: 300;
	font-size: 80%;
	line-height: 140%;
	position: relative;
	left: -100%;
	-webkit-animation: toRight 333ms ease-out 800ms forwards;
	animation: toRight 333ms ease-out 800ms forwards;
}
.price span {
	color: #5AECFF;
}

.right {
	width: 25%;
	background: #000;
	color: #5AECFF;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	-ms-grid-row-align: stretch;
	align-items: stretch;
	position: relative;
	overflow: hidden;
}
.rightMask {
	background: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	-webkit-animation: toLeftMask 333ms ease-out 650ms forwards;
	animation: toLeftMask 333ms ease-out 650ms forwards;
}
.right p {
	padding: 22px;
	font-weight: 400;
	font-size: 60%;
	line-height: 140%;
	position: relative;
	left: -100%;
	-webkit-animation: toRight 333ms ease-out 900ms forwards;
	animation: toRight 333ms ease-out 900ms forwards;
}
.right span {
	font-weight: 500;
	color: #fff;
	position: relative;
	left: -100%;
	-webkit-animation: toRight 333ms ease-out 900ms forwards;
	animation: toRight 333ms ease-out 900ms forwards;
}
.img_5 {
	min-height: 230px;
	max-height: 35%;
	background: url(../img/img_5.jpg) no-repeat bottom;
	background-size: 160%;
	position: relative;
	left: -100%;
	-webkit-transition: 333ms ease-out;
	transition: 333ms ease-out;
	-webkit-animation: toRight 333ms ease-out 900ms forwards;
	animation: toRight 333ms ease-out 900ms forwards;
}
.img_5:hover {
	background-position: top;
}
.img_5 h3 {
	font-size: 100%;
	border-left: 22px solid #fff;
	border-bottom: 2px solid #fff;
	padding: 0 0 22px 22px;
	color: #fff;
	background: #000;
	height: 100px;
	-ms-flex-item-align: end;
	align-self: flex-end;
	position: relative;
	left: -100%;
	-webkit-animation: toRight 333ms ease-out 900ms forwards;
	animation: toRight 333ms ease-out 900ms forwards;
}
/*____________________Responsitive____________________*/


/*_____Tablet____*/

@media (max-width: 1279px) {
	.left {
		width: 40%;
	}
	.center {
		width: 60%;
		
	}
	.price p {
		padding-right: 0;
	}
	.right {
		width: 100%;
	}
	.right h3 {
		padding-top: 22px;
	}
	.right p {
		width: 60%;
		padding: 44px 22px;
	}
	.img_5 {
		width: 40%;
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		min-height: 100%;
	}
	.img_5 h3 {
		-ms-flex-item-align: start;
		align-self: flex-start;
		color: #5AECFF;
	}
}
/*____Mobile____*/

@media (max-width: 960px) {
	.left {
		width: 100%;
	}
	.center {
		min-width: 320px;
		width: 100%;
		height: 100%;
	}
	.header h1 {
		padding: 44px 0 22px 22px;
		width: 90%;
		font-size: 100%
	}
	.header h3 {
		width: 90%;
	}
	.price {
		width: 100%;
	}
	.price p {
		width: 100%;
		padding: 44px 0 44px 22px;
	}
	.price h3 {
		font-size: 180%;
		padding: 44px 0 22px 22px;
	}
	.right {
		height: auto;
		width: 100%;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.right h3 {
		padding-top: 22px;
	}
	.right p {
		width: 100%;
		padding: 44px 22px;
	}
	.img_5 {
		width: 100%;
		min-height: 300px;
		-webkit-box-ordinal-group: 1;
		-ms-flex-order: 0;
		order: 0;
	}
	.img_5 h3 {
		-ms-flex-item-align: start;
		align-self: flex-start;
		color: #5AECFF;
	}
}



