.nav {
	width: 50%;
	min-height: 368px;
}
.maskMenuTop {
	position: absolute;
	width: 100%;
	height: 26%;
	top: 3%;
	background: #fff;
	z-index: 1;
	-webkit-animation: maskMenu 333ms ease-out 750ms forwards;
	animation: maskMenu 333ms ease-out 750ms forwards;
}
.maskMenu {opacity: 20%;
	position: absolute;
	width: 100%;
	height: 34%;
	top: 46%;
	background: #fff;
	z-index: 1;
	-webkit-animation: maskMenu 333ms ease-out 750ms forwards;
	animation: maskMenu 333ms ease-out 750ms forwards;
}
.maskActiveLink {
	position: absolute;
	width: 100%;
	height: 15%;
	background: #fff;
	z-index: 1;
	top: 30%;
	-webkit-animation: maskActiveLink 333ms ease-out 250ms forwards;
	animation: maskActiveLink 333ms ease-out 250ms forwards;
}
.maskActiveLink_a {
	position: absolute;
	width: 100%;
	top: 10%;
	left: 1%;
	height: 85%;
	background: #fff;
	z-index: 1;
	-webkit-animation: maskActiveLink_a 333ms ease-out 500ms forwards;
	animation: maskActiveLink_a 333ms ease-out 500ms forwards;
}

.left {
	width: 50%;
	position: relative;
	overflow: hidden;
}

.img_6 {
	position: relative;
	overflow: hidden;
	width: 50%;
	background: url(../img/img_6.jpg) no-repeat bottom;
	background-size: 150%;
	-webkit-transition: 333ms ease-out;
	transition: 333ms ease-out;
}
.img_6:hover {
	background-position: top;
}
.img6Mask {
	width: 100%;
	height: 100%;
	position: absolute;
	background: #fff;
	-webkit-animation: toBottomMask 333ms ease-out 250ms forwards;
	animation: toBottomMask 333ms ease-out 250ms forwards;
}

.price {
	width: 100%;
	position: relative;
	overflow: hidden;
	background: #000;
}
.priceMask {
	position: absolute;
	background: #fff;
	width: 100%;
	height: 100%;
	z-index: 1;
	-webkit-animation: toRightMask 333ms ease-out 400ms forwards;
	animation: toRightMask 333ms ease-out 400ms forwards;
}
.price h3 {
	color: #fff;
	border-bottom: 22px solid #5AECFF;
	border-left: 66px solid #5AECFF;
	font-weight: 300;
	font-size: 200%;
	line-height: 100%;
	min-width: 320px;
	max-width: 90%;
	padding: 66px 22px 44px 22px;
	position: relative;
	left: -100%;
	-webkit-animation: toRight 333ms ease-out 600ms forwards;
	animation: toRight 333ms ease-out 600ms forwards;
}
.price p {
	color: #5AECFF;
	padding: 22px;
	font-weight: 300;
	font-size: 70%;
	line-height: 140%;
	position: relative;
	left: -100%;
	-webkit-animation: toRight 333ms ease-out 700ms forwards;
	animation: toRight 333ms ease-out 700ms forwards;
}
.color {
	color: #fff;
	padding: 0;
	display: inline;
}

.img_7 {
	width: 100%;
	min-height: 150px;
	border-top: 22px solid #fff;
	border-left: 66px solid #fff;
	background: url(../img/img_7.jpg) no-repeat bottom;
	background-size: cover;
	background-clip: content-box;
	position: relative;
	overflow: hidden;
	-webkit-transition: 333ms ease-out;
	transition: 333ms ease-out;
}
.img_7:hover {
	background-position: 100% 15%;
}
.img7Mask {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	-webkit-animation: toTopMask 333ms ease-out 250ms forwards;
	animation: toTopMask 333ms ease-out 250ms forwards; 
}

.right {
	width: 50%;
	background: #000;
	position: relative;
	overflow: hidden;
}

.body_work {
	background: #5AECFF;
	min-height: 440px;
	position: relative;
	overflow: hidden;
}
.bodyWorkMask {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 1;
	-webkit-animation: toBottomMask 333ms ease-out 250ms forwards;
	animation: toBottomMask 333ms ease-out 250ms forwards;
}
.body_work h2 {
	padding: 44px 22px 22px 44px;
	min-width: 298px;
	width: 90%;
	border-bottom: 22px solid #000;
	border-left: 66px solid #000;
	color: #000;
	font-weight: 700;
	font-size: 280%;
	line-height: 100%;
	position: relative;
	left: -100%;
	-webkit-animation: toRight 333ms ease-out 500ms forwards;
	animation: toRight 333ms ease-out 500ms forwards;
}
.body_work h3 {
	padding: 22px 44px;
	font-weight: 300;
	position: relative;
	left: -100%;
	-webkit-animation: toRight 333ms ease-out 600ms forwards;
	animation: toRight 333ms ease-out 600ms forwards;
}

.offer {
	width: 80%;
	background: #000;
	color: #fff;
	position: relative;
	overflow: hidden;
}
.offerMask {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 1;
	-webkit-animation: toLeftMask 333ms ease-out 500ms forwards;
	animation: toLeftMask 333ms ease-out 500ms forwards;
}
.offer h3 {
	padding: 44px 22px 22px 22px;
	width: 75%;
	border-bottom: 4px solid #fff;
	border-left: 22px solid #fff;
	font-weight: 700;
	font-size: 110%;
	line-height: 100%;
	position: relative;
	left: -100%;
	-webkit-animation: toRight 333ms ease-out 700ms forwards;
	animation: toRight 333ms ease-out 700ms forwards;
}
.offer h4 {
	font-weight: 300;
	padding: 22px 0 11px 22px;
	font-size: 70%;
	color: #5AECFF;
	position: relative;
	left: -100%;
	-webkit-animation: toRight 333ms ease-out 800ms forwards;
	animation: toRight 333ms ease-out 800ms forwards;
}
.offer ul {
	list-style: none;
	color: #5AECFF;
	font-size: 70%;
	font-weight: 300;
	width: 100%;
	padding: 0 0 22px 22px;
	position: relative;
	left: -100%;
	-webkit-animation: toRight 333ms ease-out 900ms forwards;
	animation: toRight 333ms ease-out 900ms forwards;
}
.offer li {
	line-height: 130%
}

.img_8 {
	width: 20%;
	background: url(../img/img_8.jpg) no-repeat bottom;
	background-size: 170%;
	position: relative;
	overflow: hidden;
	-webkit-transition: 333ms ease-out;
	transition: 333ms ease-out;
}
.img_8:hover {
	background-position: top;
}
.img8Mask {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	-webkit-animation: toTopMask 333ms ease-out 167ms forwards;
	animation: toTopMask 333ms ease-out 167ms forwards;	
}

/*____________________Responsitive____________________*/


/*_____Tablet____*/

@media (max-width: 1279px) {
	.row {
		height: 100%;
	}
	.left {
		width: 100%;
	}
	.right {
		width: 100%;
	}
	.nav {
		width: 40%;
	}
	.img_6 {
		width: 60%;
		background-size: 100%
	}
	.price {
		width: 100%;
		padding: 0 44px 44px 66px;
	}
	.price h3 {
		width: 80%;
		padding: 88px 44px 44px 44px
	}
	.price p {
		width: 80%
	}
	.img_7 {
		min-height: 200px;
		width: 100%;
		margin-left: 66px;
	}
	.body_work {
		min-height: auto;
		width: 90%;
	}
	.body_work h1 {
		padding-top: 88px;
		width: 80%;
	}
	.body_work h3 {
		width: 90%;
		padding: 44px 22px;
	}
	.offer {
		width: 60%;
	}
	.offer h4, .offer li{
		padding-left: 22px
	}
	.img_8 {
		width: 40%;
	}
}


/*____Mobile____*/

@media (max-width: 960px) {
	.nav {
		width: 100%;
	}

	.img_6 {
		width: 100%;
	}
	.price {
		width: 100%;
		padding: 0 22px 66px 0;

	}
	.price h3 {
		width: 100%;
		padding: 66px 22px 22px 22px;

	}
	.price p {
		width: 100%;
		padding-right: 0;
	}
	.img_7 {
		min-height: 200px;
		width: 100%;
		margin-left: 0;
	}
	.body_work {
		width: 100%
	}
	.body_work h1 {
		width: 100%
	}
	.body_work h3 {
		width: 100%;
	}
	.offer {
		width: 100%;
	}
	.img_8 {
		display: none;
	}
}


